/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

body {
  position: relative;
  background-image: url('/assets/background-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

h1 {
   font-family: 'Arvo', serif;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
 }

 h2 {
   font-family: 'Arvo', serif;
   color: white
 }

.logo-container {
  float: right;
}

.logo {
  position: inherit;
  margin-top: 15px;
  width: 200px;
}

.backround-container {
  float: bottom;
}

.background-image {
  width: auto;
  height: auto;
  position: relative;
}

.start-pairing {
  display: block;
  float: middle;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #722f37;
  color: #ffffff;
  text-align: center;
  border-radius: 8px;
  font-family: 'Arvo', serif;
  font-size: 19px;
  text-shadow: 2px 2px #b64d5a;
  margin: 20px 10px 20px 10px;
  padding: 10px 15px 10px 15px;
  border: solid #56242a 4px;
  text-decoration: none
}
