.start-pairing {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #722f37;
  color: #ffffff;
  text-align: center;
  font-family: 'Lato', serif;
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  border: solid #56242a 0px;
  text-decoration: none
}
