a:link, a:visited {
  color: white;
  text-decoration: none;
}

#recommendation {
  font-family: 'Lato', serif;
  margin-left: auto;
  margin-right: auto;
}

#wine-list {
  padding: 0;
  margin: 10% 0 0 0;
}

.button {
  display: inline;
  position: relative;
  width: auto;
  text-align: center;
  list-style-type: none;
  background-color: #722f37;
  font-family: 'Lato', serif;
  color: #ffffff;
  font-size: 12px;
  margin: 0px 0px 10px 0px;
  padding: 0px 5px 5px 5px;
  text-decoration: none;
}

#restart {
  display: block;
  position: fixed;
  bottom: 10%;
  left: 15%;
  background-color: #722f37;
  color: #ffffff;
  font-family: 'Lato', serif;
  font-size: 10px;
  text-decoration: none;
  border: solid #56242a 0px;
}

.barchart-title {
  font-family: 'Lato', serif;
  font-size: 15px;
}
