<div class="starter-template">
  <h1>Food and wine pairing. Powered by data.</h1>
  <p class="lead">You have 99 problems. Wine ain't one.</p>
</div>

<%= form_for @pairing do |f| %>
<%= f.submit "Start pairing!" %>
<% end %>
