<h1><%= @pairing.id %></h1>
<p><%= @pairing.food.name %></p>
<ul>
  <% @pairing.wine.each do |wine| %>
  <li><%= link_to "#{wine.name}", wine_path(wine) %></li>
  <% end %>
</ul>
<%= link_to 'Start pairing again!', root_path %>
