<body>
  <form>
    <label>
      Name:
      <input type="text" name="name" />
    </label>
    <input type="submit" value="Submit" />
  </form>
  <%= react_component 'Wines', {data: @wines} %>
</body>
