<h1><%= @wine.name %></h1>
<%= column_chart ({"Sweet" => @wine.sweet, "Herby" => @wine.herby, "Bitter" => @wine.bitter, "Fruity" => @wine.fruity, "Oaky" => @wine.oaky, "Acid" => @wine.acid, "Alcohol" => @wine.alcohol}) %>
